.products {
    border: 1px solid black;
    margin: 10vh auto;
    width: 75vw;
}

.products .products-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.products .products-filters .products-filters-container {
    display: flex;
    padding: 1em;
}

.products .products-filters .products-filters-container .products-filters-filter {
    margin: 1em;
    border: 1px solid black;
}

.products .products-filters .products-filters-clear {
    height: fit-content;
    padding: .25rem;
    border-radius: .25rem;
}

.products-table {
    border-collapse: collapse;
    width: 100%;
}

.products-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.products-table .products-table-header {
    padding: 1rem;
    border-bottom: 1px solid black;
    background-color: #cfcbcb;
}

.products-table .products-table-data {
    padding: 1rem;
    text-align: center;
}